# Use this to help you troubleshoot ssh connections issues
# Common issue occurs with the Diffie–Hellman key exchange
# View the wiki https://en.wikipedia.org/wiki/Diffie%E2%80%93Hellman_key_exchange
# Also reference Cicso Community Security Doc's for more infomation on issue and how to resolve
# https://community.cisco.com/t5/security-documents/guide-to-better-ssh-security/ta-p/3133344

# Add these to your ssh_config file located ~/etc/ssh/ssh_config

KexAlgorithms=curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1,diffie-hellman-group1-sha1
Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc